@charset "UTF-8";

/* Azul Pastel Claro: #c7e7f5
Verde Água Suave: #9ed7c6
Azul Profundo Esverdeado: #1f6f65
Branco Neve: #fefefe
Dourado Suave: #f6e8c3
Fundo: #c7e7f5 ou um gradiente entre #c7e7f5 e #9ed7c6.
Botões: #1f6f65 com hover em #9ed7c6.
Textos: Principal em #1f6f65 ou #ffffff sobre fundo escuro.
Detalhes/Ícones: #f6e8c3.*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;
}

body, html {
    background-color: #9ed7c6;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

     transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:  #c7e7f5 url(../imagens/pexels-babybluecat-6843588.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}


div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo { 
    background-color: #1f6f65;
    border: 2px solid #1f6f65;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: #f6e8c3;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #9ed7c6;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo >input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#1f6f65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #9ed7c6;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #1f6f65;
    color: white;
    border: 1px solid #1f6f65;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #9ed7c6;
}