@charset "UTF-8";

/* Azul Pastel Claro: #c7e7f5
Verde Água Suave: #9ed7c6
Azul Profundo Esverdeado: #1f6f65
Branco Neve: #fefefe
Dourado Suave: #f6e8c3
Fundo: #c7e7f5 ou um gradiente entre #c7e7f5 e #9ed7c6.
Botões: #1f6f65 com hover em #9ed7c6.
Textos: Principal em #1f6f65 ou #ffffff sobre fundo escuro.
Detalhes/Ícones: #f6e8c3.*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;

}

body, html {
    background-image: linear-gradient(to top, #1f6f65, #9ed7c6);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #777;

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:  #c7e7f5 url(../imagens/pexels-babybluecat-6843588.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}


div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo { 
   position: relative;
    margin-bottom: 20px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

div.campo > input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: none;
    outline: none;
    color: #333;
    font-size: 14px;
}

form .campo input::placeholder {
    color: #aaa;
}

form input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #1f6f65, #9ed7c6);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]:hover {
    opacity: 0.9;
}

form .botao {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #777;
    text-decoration: none;
    margin-bottom: 20px;
}

