@charset "UTF-8";

/* Azul Pastel Claro: #c7e7f5
Verde Água Suave: #9ed7c6
Azul Profundo Esverdeado: #1f6f65
Branco Neve: #fefefe
Dourado Suave: #f6e8c3
Fundo: #c7e7f5 ou um gradiente entre #c7e7f5 e #9ed7c6.
Botões: #1f6f65 com hover em #9ed7c6.
Textos: Principal em #1f6f65 ou #ffffff sobre fundo escuro.
Detalhes/Ícones: #f6e8c3.*/